body{
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  background: #171919;
  color: white;
  text-transform: uppercase;
  min-width: 320px;
  overflow-x: hidden;
}

a{
  display: inline-block;
  text-decoration: none;
  color: white;
}

ul,li{
  list-style: none;
  margin:0;
  padding: 0;
}

.container{
  max-width: 1920px;
  margin: 0 auto;
}

.headline-left{
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 7.33333px;
  color: #FFFFFF;
  opacity: 0.5;
  padding-left: 103px;
  position: relative;
  display: inline-block;

  &::before{
    content: '';
    position: absolute;
    width: 80px;
    height: 1px;
    background-color: #fff;
    left: 0;
    top:50%
  }
}

.headline-right{
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 7.33333px;
  color: #FFFFFF;
  opacity: 0.5;
  padding-right: 103px;
  position: relative;
  display: inline-block;

  &::before{
    content: '';
    position: absolute;
    width: 80px;
    height: 1px;
    background-color: #fff;
    right: 0;
    top:50%
  }
}


.title {
  margin-top: 20px;
  div {
    font-size: 200px;
    color: rgba(#fff, .02);
    font-weight: 800;
    position: relative;
    transform: translateX(-50px); //TODO wtf?
    display: inline-block;
  }

  span{
    display: inline-block;
  }

  h3 {
    position: absolute;
    margin: 0;
    font-size: 80px;
    color: #fff;
    top: 0;
    right: 0;
    z-index: 6;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 80px;
      height: 1px;
      background-color: $lightGreen;
    }
  }
}

.subtitle{
  display: inline-block;//TODO wtf?
  text-align: right;
  &__head{
    font-weight: 800;
    font-size: 40px;
    padding-right: 10px;
    span{
      font-weight: 100;
    }
  }
}

.serf,
.holder{
  padding: 160px 0 120px;
}

.holder{
  padding-bottom: 265px;
  margin-bottom: 35px;
}

.descr{
  display: inline-block;
  padding-left: 5px;
  &__head{
    font-weight: 800;
    font-size: 40px;
    span{
      font-weight: 100;
    }
  }
}



.quantity {
  display: inline-block;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]
{
  -moz-appearance: textfield;
}

.quantity input {
  font-size: 40px;
  font-weight: 800;
  line-height: 36px;
  width: 45px;
  height: 42px;
  color: #fff;
  display: block;
  padding-left: 20px;
  margin-left: -20px;
  margin-right: 8px;

  background-color: transparent;
}

.quantity input:focus {
  outline: 0;
}

.quantity-nav{
  float: left;
  position: static;
  height: 42px;
}

.quantity-button {
  position: relative;
  cursor: pointer;
  width: 20px;
  height: 20px;
  top: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quantity-button.quantity-up {
  position: absolute;
  right: 0;
}

.quantity-button.quantity-down {
  position: absolute;
  right: 25px;
}

.star-list {
  li {
    display: inline-block;
    & + li {
      margin-left: -25px;
    }
  }
}

.shop__star-list{
  margin-left: -9px;
}

.shop__slider-price{
  font-weight: 800;
  font-size: 32px;
  line-height: 40px;
}